:root {
    --white: #ffffff;
    --lightblue: #e2f4fc;
    --lightgrey: #e6e5e1;
    --grey: #e3e3e3;
    --gold: #e8c8a1;
    --pink: #F6828C;
    --purple: #A167A5;
    --blue: #293b7a;
    --darkblue: #2b2d42;
    --darkgrey: #2e2e2e;
    --black: #000000;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

header {
    background-color: var(--lightblue);
    display: flex;
    padding-left: 1rem;
    color: var(--black);
    font-style: italic;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background-color: var(--lightblue);
    color: var(--black);
    margin-top: 2rem;
    padding: 1rem;
    font-size: 13px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 16px;
}
