:root {
    --white: #ffffff;
    --grey: #e3e3e3;
    --gold: #c27c0e;
    --darkgold: #a66d00;
    --blue: #230b6e;
    --darkblue: #2b2d42;
    --darkgrey: #2e2e2e;
    --black: #000000;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

header {
    background-color: black;
    display: flex;
    padding-left: 1rem;
    color: var(--white);
    font-style: italic;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background-color: var(--black);
    color: var(--white);
    margin-top: 2rem;
    padding: 1rem;
    font-size: 13px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

.product-tile {
    background-color: var(--blue);
    color: var(--white);
}

.backtoshop {
    font-size: 16px;
    color: var(--blue);
    text-decoration: none;
}

.proddetail .backtoshop:hover {
    color: var(--black);
}

.backtoshop:visited {
    color: var(--blue);
}

.addtocart {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px 0px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
    width: 150px;
  }

  .addtocart:hover {
    background-color: var(--darkblue);
  }

  @media (max-width: 930px) {
    h3 {
        font-size: 16px;
    }
}

  @media (max-width: 768px) {
    h2 {
        font-size: 22px;
    }

    .product-tile {
        font-size: 14px;
    }

    .addtocart {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 12px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 14px;
    }

    .addtocart {
        font-size: 12px;
    }

    p{
        font-size: 14px;
    }
}